<div class="message">
    <p class="message-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, adipisci accusamus. Voluptate sit laudantium, aspernatur minima modi omnis totam, consequuntur accusamus iusto nesciunt maxime in numquam perferendis? Veritatis, suscipit! Laboriosam.</p>
</div>

<div class="message-inv-color">
    <p class="message-text-inv-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, adipisci accusamus. Voluptate sit laudantium, aspernatur minima modi omnis totam, consequuntur accusamus iusto nesciunt maxime in numquam perferendis? Veritatis, suscipit! Laboriosam.</p>
</div>