@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:host{
    --login-background: #74512D;
    --login-text-color: #F8F4E1;
    --font: "Montserrat";
}


.login-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-form{
    font-family: var(--font);
    background-color: var(--login-background);
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 6% 15%;
    gap: 1.5rem;
}
.login-form-title{
    color: var(--login-text-color);
}
.login-form-field{
    font-family: var(--font);
    height: 2rem;
    color: var(--login-text-color);
    border: 1px solid var(--login-text-color);
    background-color: black;
}
::placeholder{
    color: var(--login-text-color);
}
.login-form-submit{
    font-family: var(--font);
    font-weight: bolder;

    height: 2rem;
    background-color: var(--login-text-color);
    border: 2px solid black;
}

.login-form-signup{
    color: var(--login-text-color);
}
.login-form-signup-link{
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}