@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:host {
    --header-background-color: #543310;
    --header-text-color: #F8F4E1;
}

.header-container{
    background-color: var(--header-background-color);
    height: 100%;
}

.header-text{
    color: var(--header-text-color);
    font-family: "Montserrat";
    padding: 2%;
}