<section class="login-section">


    <form (submit)="login()"class="login-form">
        <h2 class="login-form-title">Login</h2>

        <input class="login-form-field" type="text" placeholder="Digite seu login" [(ngModel)]="username" name="usename">
        <input class="login-form-field" type="password" placeholder="Digite sua senha"[(ngModel)]="password" name="password">
    
        <button class="login-form-submit">Entrar</button>
        
        <p class="login-form-signup">
            Novo aqui?
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="login-form-signup-link" target="_blank">
                Se cadastre!
            </a>
        </p>
        
    </form>
</section>
