<footer class="footer-component">
    <div class="footer-text">
        <p>Criado por Levi Maciel</p>
    </div>
    <div class="footer-social-media">
        <a href="https://www.linkedin.com/in/levi-maciel/" target="_blank" class="footer-social-media-link">
            <img src="/linkedin.svg" alt="linkedin">
        </a>
        <a href="https://github.com/levimaciell" target="_blank" class="footer-social-media-link">
            <img src="/github.svg" alt="github">
        </a>

    </div>
</footer>
