.signup-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-form{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 3%;
    gap: 1.5rem;
}
.signup-form-title{
    color: yellow;
}
.signup-form-field{
    height: 2rem;
    color: yellow;
    border: 1px solid yellow;
    background-color: black;
}
::placeholder{
    color: yellow;
}
.signup-form-submit{
    height: 2rem;
    background-color: yellow;
    border: 2px solid black;
}

.signup-form-redirect{
    color: yellow;
}
.signup-form-redirect-link{
    color: rgb(255, 98, 0);
    text-decoration: none;
}